<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To do list</title>
</head>
<body>
    <div class="box" id="heading">
        <h2>Today is <%= kindOfday %> </h2>
    </div>
    
<div class="box">
    <% for (let i=0; i<newListItems.length; i++) {%>
    <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i] %></p>
    </div>
        <% } %>

        <form class="item" action="/" method="POST">
            <input name="nextItem" type="text" placeholder="New Item" autocomplete="off">
            <button type="submit" name="submit">+</button>
        </form>
    </div>

    
</body>
</html>